<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Variant 1: Define dependencies in XML config file -->
    <bean id="consoleLogger" class="swt6.spring.basics.ioc.util.ConsoleLogger">
        <property name="prefix" value="INFO"/>
    </bean>

    <bean id="fileLogger" class="swt6.spring.basics.ioc.util.FileLogger"
        destroy-method="close"> <!-- Ruft close() von FileLogger auf, wenn Bean zerstört wird -->

        <!--<property name="fileName" value="log.txt"/>-->

        <constructor-arg value="log.txt"/> <!-- nutzt Param mit index="0" (default) -->
        <!-- <constructor-arg name="fileName" value="log.txt"/> // nutzt Param mit name="fileName" -->
    </bean>

    <bean id="workLogService-setter-injected" class="swt6.spring.basics.ioc.logic.xmlconfig.WorkLogServiceImpl"
        init-method="init"> <!-- Ruft init() von WorkLogServiceImpl auf, wenn Bean erstellt wird -->
        <property name="logger" ref="consoleLogger" /> <!-- logger per Setter setzen mit Referenz auf consoleLogger -->
    </bean>

    <bean id="workLogService-constructor-injected" class="swt6.spring.basics.ioc.logic.xmlconfig.WorkLogServiceImpl"
          init-method="init">
        <constructor-arg index="0" ref="fileLogger" /> <!-- index="0" => default -->
    </bean>

</beans>