<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Variant 1: Define dependencies in XML config file -->
<!--    <bean id="consoleLogger" class="swt6.spring.basics.ioc.util.ConsoleLogger">-->
<!--        <property name="prefix" value="INFO"/>-->
<!--    </bean>-->

<!--    <bean id="fileLogger" class="swt6.spring.basics.ioc.util.FileLogger"-->
<!--        destroy-method="close"> &lt;!&ndash; Ruft close() von FileLogger auf, wenn Bean zerstört wird &ndash;&gt;-->

<!--        &lt;!&ndash;<property name="fileName" value="log.txt"/>&ndash;&gt;-->

<!--        <constructor-arg value="log.txt"/> &lt;!&ndash; nutzt Param mit index="0" (default) &ndash;&gt;-->
<!--        &lt;!&ndash; <constructor-arg name="fileName" value="log.txt"/> // nutzt Param mit name="fileName" &ndash;&gt;-->
<!--    </bean>-->

<!--    <bean id="workLogService-setter-injected" class="swt6.spring.basics.ioc.logic.xmlconfig.WorkLogServiceImpl"-->
<!--        init-method="init"> &lt;!&ndash; Ruft init() von WorkLogServiceImpl auf, wenn Bean erstellt wird &ndash;&gt;-->
<!--        <property name="logger" ref="consoleLogger" /> &lt;!&ndash; logger per Setter setzen mit Referenz auf consoleLogger &ndash;&gt;-->
<!--    </bean>-->

<!--    <bean id="workLogService-constructor-injected" class="swt6.spring.basics.ioc.logic.xmlconfig.WorkLogServiceImpl"-->
<!--          init-method="init">-->
<!--        <constructor-arg index="0" ref="fileLogger" /> &lt;!&ndash; index="0" => default &ndash;&gt;-->
<!--    </bean>-->

    <!-- ===================================================================================================== -->

    <!-- Variant 2: Register beans explicitly and define dependencies using annotations -->

<!--    <context:annotation-config />-->

<!--    <bean id="consoleLogger" class="swt6.spring.basics.ioc.util.ConsoleLogger">-->
<!--        <property name="prefix" value="INFO"/>-->
<!--    </bean>-->

<!--    <bean id="fileLogger" class="swt6.spring.basics.ioc.util.FileLogger"-->
<!--        destroy-method="close">-->
<!--        <constructor-arg value="log.txt"/>-->
<!--    </bean>-->

<!--    &lt;!&ndash; Problem: Es gibt nun 2 Klassen, die Logger implementieren. Spring weiß nicht, welche Klasse erzeugt werden soll. &ndash;&gt;-->
<!--    &lt;!&ndash; => UnsatisfiedDependencyException &ndash;&gt;-->
<!--    &lt;!&ndash; Loesen mit @Named oder @Qualifier &ndash;&gt;-->

<!--    <bean id="workLogService" class="swt6.spring.basics.ioc.logic.annotationconfig.WorkLogServiceImpl">-->
<!--    </bean>-->

    <!-- ===================================================================================================== -->

    <!-- Variant 3: Register beans automatically using a component scan -->
    <context:component-scan base-package="swt6.spring.basics.ioc.util,
                                          swt6.spring.basics.ioc.logic.annotationconfig" />


</beans>