<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- DERBY network server properties -->
        <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
        <property name="hibernate.connection.url">jdbc:derby://localhost/WorkLogDb;create=true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
        
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>

        <property name="hibernate.current_session_context_class">thread</property> <!-- aktive Session wird in Thread gespeichert (?) -->

        <!-- V1: ueber XML-Datei -->
        <!-- Mapping of domain classes -->
<!--        <mapping resource="swt6/orm/domain/Employee.hbm.xml"/>-->

        <!-- V2: ueber Annotationen -->
        <mapping class="swt6.orm.domain.Employee" />

    </session-factory>
</hibernate-configuration>
